html,body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: Arial;
}

h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

a {
	text-decoration: none;
}

#black-bar {
	background-color: #00122f;
	color: white;
	padding: 20px 0;
	font-size: 16px;
}

#black-bar a {
	color: white;
}

.fixed-container {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

#datetime {
	float: right;

}

#header {
	height: 100px;
	position: relative;
}
#searcher {
	position: absolute;
	top: 53px;
	left: 95%;
	z-index: 10;
}

#logo {
	position: absolute;
	top: 40px;
}

#small-menu {
	position: absolute;
	top: 50px;
	display: none;
}

#select-city {
	position: absolute;
	top: 56px;
	left: 140px;
}

#day-week {
	position: absolute;
	top: 56px;
	right: 55%;
}

#time-now {
	position: absolute;
	top: 56px;
	right: 46%;
	padding-left: 26px;
	padding-bottom: 2px;
	background-image: url(img/time.png);
	background-repeat: no-repeat;
}

#temp {
	position: absolute;
	top: 56px;
	right: 35%;
	padding-left: 39px;
	padding-bottom: 4px;
	background-image: url(img/cloud.png);
	background-repeat: no-repeat;
}

#search {
	width: 30%;
	height: 30px;
	position: absolute;
	top: 45px;
	right: 0;
	border: 1px solid #f3f3f3;
	border-radius: 35px;
	background-color: #f3f3f3;
	padding-left: 15px;
}

#menu-container {
	height: 70px;
	color: gray;
}
.slash {
	display: inline-block;
	padding: 0 12px;
}
#menu-container a {
	color: black;
}


#column-left {
	background-color: #FFFFFF;
	min-width: 250px;
}

	.news-item {
		padding: 0 18px;
		margin-bottom: 27px;
		font-size: 14px;
	}

	.news-item-text {
		margin-bottom: 20px;
	}

	.news-item-props {
		font-size: 12px;
		position: relative;
	}

		.news-item-props a {
			color: #91919f;
		}

		.news-time {
			position: absolute;
			top: 0;
			left: 120px;
			padding-left: 15px;
			background-image: url('img/icon-time.png');
			background-repeat: no-repeat;
		}

		.news-comments-count {
			position: absolute;
			top: 0;
			left: 180px;
			padding-left: 15px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;
		}


#fixer-item {
	font-size: 14px;
	border-top: 1px solid #e5e5e5;
}

#fixer-item h2 {
	margin-bottom: 0;
}


#fixer-left {
	padding-left: 18px;
	padding-right: 20%;
	float: left;
	width: 107px;
}

#fixer-right {
	float: right;
	width: 70px;
	padding-left: 2%;
}

#buttons {
	margin: 100px auto 0;
	min-height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#column-center {
	margin: 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#small-center {
	display: none;
}

.main-banner {
	width: 420px;
}

.central-banner {
	position: relative;
}
.central-banner a {
	color: white;
}

.central-categ {
	position: absolute;
	top: 90px;
	padding-left: 20px;
}

.central-banner-txt {
	position: absolute;
	top: 120px;
	margin-left: 20px;
	font-size: 24px;
	font-weight: bold;
}


.cental-date {
	position: absolute;
	top: 250px;
	left: 20px;
	color: white;
}

.central-time {
	position: absolute;
	top: 250px;
	left: 160px;
	padding-left: 20px;
	color: white;
	background-image: url('img/time.png');
	background-repeat: no-repeat;

}

#column-center-1 {
	margin-top: 20px;
	height: 500px;
	width: 200px;
	margin-right: 10px;
}

#column-center-1 img {
	width: 200px;
}

	.bold-news {
		color: black;
		font-weight: bold;
		padding-bottom: 17px;
	}

	.news-item-props-1 {
		margin-top: 18px;
		margin-bottom: 20px;
		font-size: 12px;
		position: relative;
	}

		.news-item-props-1 a {
			color: #91919f;
		}

		.news-time-1 {
			position: absolute;
			top: 0;
			left: 70px;
			padding-left: 15px;
			background-image: url('img/icon-time.png');
			background-repeat: no-repeat;
		}

		.news-comments-count-1 {
			position: absolute;
			top: 0;
			left: 130px;
			padding-left: 15px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;
		}

#column-center-2 {
	margin-top: 20px;
	height: 500px;
	width: 200px;
}

#column-center-2 img {
	width: 200px;
}

#central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

/*#central-container .fixed-container {
	overflow-y: hidden;
}*/

#column-right {
	min-width: 250px;
}


#column-right img {
	margin-bottom: 20px;
}

#special-news {
	margin-top: 20px;
	background-color: #f9f9f9;
	width: 960px;
	height: 400px;
}

#bottom-news {
	display: flex;
}
#best-bot-news {
	width: 390px;
	height: 380px;
	background-color: white;
}
#bottom-banner {
	height: 280px;
	position: relative;
}
#bottom-banner a {
	color: white;
}

#bottom-img {
	width: 570px;
}

.bottom-categ {
	position: absolute;
	top: 90px;
	padding-left: 20px;
}

#bottom-banner-txt {
	width: 570px;
	position: absolute;
	top: 120px;
	margin-left: 20px;
	font-size: 24px;
	font-weight: bold;
}

.bot-ban-txt2 {
	width: 570px;
	position: absolute;
	top: 250px;
	margin-left: 20px;
}


		.bottom-date {
	position: absolute;
	top: 200px;
	left: 20px;
	color: white;
		}

		.bottom-time {
	position: absolute;
	top: 200px;
	left: 160px;
	padding-left: 20px;
	color: white;
	background-image: url('img/time.png');
	background-repeat: no-repeat;

		}


		.news-item-2 {
		padding-left: 18px;
		margin-bottom: 38px;
		font-size: 16px;

	}

		.news-item-text-2 {
		margin-bottom: 20px;
		font-weight: bold;
	}

		.news-item-props-2 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 12px;
		position: relative;
	}

		.news-item-props-2 a {
			color: #91919f;
		}

		.news-time-2 {
			position: absolute;
			top: 0;
			left: 70px;
			padding-left: 15px;
			background-image: url('img/icon-time.png');
			background-repeat: no-repeat;
		}

		.news-comments-count-2 {
			position: absolute;
			top: 0;
			left: 130px;
			padding-left: 15px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;
		}


#footer-1 {
	background-color: #00122f;
	height: 260px;
	border-bottom: 1px solid #26354e;
	position: relative;
}
#foot-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

#links {
/*	width: 270px;*/
	height: 198px;
/*	float: left;*/
	padding-top: 58px;
}

	.links-text {
		margin-bottom: 20px;
		color: white;
	}

	.links-text a {
		color: white;
	}

#links-1 {
	width: 135px;
	height: 198px;
	float: left;
}

#links-2 {
	width: 135px;
	height: 198px;
	float: right;
}

#contacts {
/*	width: 420px;*/
	height: 256px;
/*	float: left;*/
	position: relative;
}

#contacts img {
	position: absolute;
	top: 60px;
/*	left: 130px;*/
}

#contacts-item {
/*	width: 270px;*/
	height: 136px;
	padding-top: 120px;
/*	padding-left: 130px;*/
}

	.contacts-text {
		margin-bottom: 20px;
	}

	.contacts-text a {
		color: white;
	}

#social {
/*	width: 270px;*/
	height: 256px;
/*	float: right;*/
}

#social-img {
	width: 270px;
	padding-left: 15px;
	padding-top: 55px;
}
#social-img img {
	margin-left: 20px;
}

#callme {
	color: white;
	margin-left: 45px;
}

#phone-number {
	background-image: url(img/phone.png);
	background-repeat: no-repeat;
	margin-top: 45px;
	padding-left: 35px;
}

#phone-number a {
	color: white;
	font-style: normal;
}

#email-adres {
	background-image: url(img/email.png);
	background-repeat: no-repeat;
	margin-top: 30px;
	padding-left: 35px;
}
#email-adres a {
	color: white;
	text-decoration: none;
	font-style: normal;
}

#footer-2 {
	background-color: #00122f;
	height: 50px;
}

#copyright {
	padding-top: 15px;
	text-align: center;
	color: #727882;
}

#popup-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('img/bg.png');
	z-index: 11;
}

#popup {
	width: 0px;
	height: 0px;
	background-color: white;
	padding: 20px;
	margin: 40px auto;
}


#changeButton {
	width: 200px;
	height: 50px;
	border-radius: 35px;
	background-color: white;
	border: 1px solid blue;
	color: blue;
	font-size: 16px;
}


#small-logo {
	display: none;
}
#small-info {
	display: none;
}
#flex-container {
	display: flex;
}
@media (max-width: 990px) {
	#bottom-banner {
		height: 340px;
		width: 500px;
	}
	#best-bot-news {
		width: 500px;
		margin-top: 20px;
	}
	#bottom-banner, #bottom-banner-txt {
		width: 500px;
	}
	.bot-ban-txt2 {
		display: none;
	}
	#bottom-img {
		width: 500px;
	}
	#special-news {
		height: 800px;

	}
	#bottom-news {
		flex-wrap: wrap;
		justify-content: center;
	}

}
@media (max-width: 960px) {
	.select-wrapper {
		display: none;
	}
}
@media (max-width: 910px) {
	#menu-container {
		display: none;
	}

	#logo {
		padding-left: 75px;
	}
	#small-menu {
		padding-left: 25px;
		display: block;
	}
	#info {

	}

@media (max-width: 830px) {
	html {
		overflow-x: hidden;
	}
	#flex-container {
		flex-wrap: wrap;
		justify-content: space-around;	
		align-items: flex-start;	
	}
	#column-center {
		order: -1;
		margin: 0 0 20px;

	}
	#top-news {
		order: -1;
		flex-basis: 500px;
	}

	.main-banner {
		width: 500px;
	}
	#news-day {
		flex-basis: 500px;
	}
	#column-right {
		margin-top: 40px;
		display: flex;
	}

	#small-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: center;
		height: 100px;
		background-image: url(img/info-bg.png);
		background-repeat: repeat-x;
		background-color: white;
		flex-basis: 500px;
	}
	#small-info div {
		position: relative;
		top: 0;
		right: 0;
		padding-bottom: 0;
	}
	#info {
		display: none;
	}
	#central-container {
		padding-top: 0;
	}
	#special-news {
		width: 500px;
	}
	#special-news, #bottom-news, #bottom-banner, #bottom-img {
		width: 500px;
	}
	#bottom-flex {
		width: 500px;
	}

}
@media (max-width: 740px) {
	#footer-1 {
		height: 500px;
	}

}
@media (max-width: 560px) {
	#datetime {
		display: none;
	}
	#search {
		display: none;
	}
	#searcher {
		position: absolute;
		top: 18px;
	}
	#text-bar {
		margin: 0 auto;
		width: 70%;
		font-size: 14px;
	}
	#header {
		height: 50px;
	}
	#logo {
		display: none;
	}
	#small-logo {
		display: block;
		position: absolute;
		top: 13px;
		margin-left: 75px;
	}
	#small-menu {
		position: absolute;
		top: 18px;	
	}
}

@media (max-width: 535px) {
	#small-info {
		flex-basis: 320px;
	}
	#column-center {
		justify-content: center;
	}
	#central-banner {
		display: flex;
	}
	.main-banner {
		width: 320px;
	}
	.central-banner-txt {
		font-size: 12px;
		position: absolute;
		top: 100px;
		left: 0;

	}
	.central-categ {
		font-size: 10px;
		position: absolute;
		top: 80px;
		left: 0;
	}
	.cental-date {
		font-size: 10px;
		position: absolute;
		top: 180px;
		left: 0;
		margin-left: 20px;
	}
	.central-time {
		font-size: 10px;
		position: absolute;
		top: 180px;
		left: 100px;
	}
	#column-center-1 {
		width: 320px;
		height: 600px;
		margin-right: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#column-center-1 img {
		width: 320px;
	}
	#column-center-2 {
		width: 320px;
		height: 600px;
		margin: 20px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#column-center-2 img {
		width: 320px;
	}
	#news-day {
		flex-basis: 320px;
	}
	#fixer-left {
		padding-right: 50px;
	}
	#buttons {
		margin-top: 80px;
	}
	#column-right img {
		margin: 0 20px;
	}
	#column-right {
		width: 500px;
		overflow-x: scroll;
	}
	#bottom-flex, #special-news, #bottom-news, #bottom-banner, #bottom-img {
		width: 320px;
	}
	#bottom-banner {
		height: 220px;
	}

	}
	.bottom-categ {
		font-size: 10px;
	}
	#bottom-banner-txt {
		font-size: 12px;
		width: 300px;
	}
	.bottom-date, .bottom-time {
		font-size: 12px;
		top: 170px;
	}
	#best-bot-news {
		height: 400px;
	}
@media (max-width: 455px) {
	#footer-1 {
		height: 615px;
		border-bottom: 0;
	}
	#links {
		width: 295px;
		padding-top: 45px;
		padding-left: 25px;
		height: 170px;
		border-bottom: 1px solid #26354e;
		padding-bottom: 30px;
	}
	#contacts {
		width: 295px;
		height: 155px;
		padding-left: 25px;
	}
	#contacts img {
		top: 30px;
	}
	#contacts-item {
		padding-top: 100px;
		height: 70px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#social{
		width: 320px;
		height: 145px;
		padding-top: 50px;

	}
	#social-img {
		width: 295px;
		padding: 0 0 0 5px;
	}
	#callme {
		margin: 0;
		padding-top: 30px;
		padding-left: 25px;
		border-bottom: 1px solid #26354e;
	}
	#callme div {
		margin: 0;
		margin-bottom: 30px;
	}
	#footer-2 {
		height: 60px;
	}
	#flex-bot-2 {
		display: flex;
		justify-content: center;
	}
	#copyright {
		width: 320px;
	}
}
@media (max-width: 435px) {
	#text-bar {
		font-size: 12px;
		width: 80%;

	}
}